---
http_interactions:
- request:
    method: get
    uri: https://www.airbnb.com/api/v2/search_results?_format=for_search_results_with_minimal_pricing&_limit=10&_offset=0&client_id=d306zoyjsyarp7ifhu67rjxn52tv0t20&currency=USD&fetch_facets=true&guests=1&ib=false&ib_add_photo_flow=true&locale=en-US&location=80202US&min_bathrooms=0&min_bedrooms=0&min_beds=1&min_num_pic_urls=10&price_max=210&price_min=40&sort=1&user_lat=37.3398634&user_lng=-122.0455164
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - d306zoyjsyarp7ifhu67rjxn52tv0t20
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Edge-Control:
      - no-store
      Etag:
      - W/"3b476b31c972c3da4da923c87f12dec2"
      X-Server-Name:
      - www.airbnb.com
      Fastly-Debug-Digest:
      - 06cca848189586ce7766a77851cbe5470667e3eddb733a8f19e21d301e2fcce6
    body:
      encoding: ASCII-8BIT
      string: '{"search_results":[{"listing":{"bathrooms":1.0,"bedrooms":1,"beds":1,"city":"Denver","distance":null,"extra_host_languages":["es"],"id":4121807,"instant_bookable":false,"is_business_travel_ready":false,"is_family_preferred":false,"is_new_listing":false,"lat":39.69031574555293,"lng":-104.98729949676071,"localized_city":"Denver","name":"Beautiful
        home in Wash/Platt Park","neighborhood":"Platt Park","person_capacity":2,"picture_count":6,"picture_url":"https://a0.muscache.com/im/pictures/51813622/5d077444_original.jpg?aki_policy=large","primary_host":{"first_name":"Colby","has_profile_pic":true,"id":5326121,"picture_url":"https://a0.muscache.com/im/users/5326121/profile_pic/1362461473/original.jpg?aki_policy=profile_x_medium","smart_name":"Colby","thumbnail_url":"https://a0.muscache.com/im/users/5326121/profile_pic/1362461473/original.jpg?aki_policy=profile_small","is_superhost":true},"property_type_id":2,"property_type":"House","public_address":"Denver,
        CO, United States","reviews_count":57,"room_type_category":"private_room","room_type":"Private
        room","scrim_color":"#1A1A1A","space_type":"Private room","star_rating":5.0,"thumbnail_url":"https://a0.muscache.com/im/pictures/51813622/5d077444_original.jpg?aki_policy=small","user_id":5326121,"user":{"first_name":"Colby","has_profile_pic":true,"id":5326121,"picture_url":"https://a0.muscache.com/im/users/5326121/profile_pic/1362461473/original.jpg?aki_policy=profile_x_medium","smart_name":"Colby","thumbnail_url":"https://a0.muscache.com/im/users/5326121/profile_pic/1362461473/original.jpg?aki_policy=profile_small","is_superhost":true},"xl_picture_url":"https://a0.muscache.com/im/pictures/51813622/5d077444_original.jpg?aki_policy=x_large","preview_encoded_png":"iVBORw0KGgoAAAANSUhEUgAAAAUAAAAECAIAAADJUWIXAAAAS0lEQVQIHQFAAL//AczLyb23vBEYGfLy8CwrKgFtZFvMxs/x+P3y/Pn8+PcBOzAj+/sA+gIK6vjt/f38ATpJKvb8+BsTGhILENvi3bQFJGY1c7KNAAAAAElFTkSuQmCC","picture_urls":["https://a0.muscache.com/im/pictures/51813622/5d077444_original.jpg?aki_policy=large","https://a0.muscache.com/im/pictures/53654333/b6093506_original.jpg?aki_policy=large","https://a0.muscache.com/im/pictures/53654849/4b3c0d65_original.jpg?aki_policy=large","https://a0.muscache.com/im/pictures/5394ee9f-102f-42fa-9e93-c8c16de5b58b.jpg?aki_policy=large","https://a0.muscache.com/im/pictures/0ce2e1d4-ef0c-487d-939a-af98ac5fc463.jpg?aki_policy=large","https://a0.muscache.com/im/pictures/79d7947a-b483-4f41-9b21-d0c951035817.jpg?aki_policy=large"],"xl_picture_urls":["https://a0.muscache.com/im/pictures/51813622/5d077444_original.jpg?aki_policy=x_large","https://a0.muscache.com/im/pictures/53654333/b6093506_original.jpg?aki_policy=x_large","https://a0.muscache.com/im/pictures/53654849/4b3c0d65_original.jpg?aki_policy=x_large","https://a0.muscache.com/im/pictures/5394ee9f-102f-42fa-9e93-c8c16de5b58b.jpg?aki_policy=x_large","https://a0.muscache.com/im/pictures/0ce2e1d4-ef0c-487d-939a-af98ac5fc463.jpg?aki_policy=x_large","https://a0.muscache.com/im/pictures/79d7947a-b483-4f41-9b21-d0c951035817.jpg?aki_policy=x_large"]},"pricing_quote":{"available":false,"can_instant_book":false,"check_in":null,"check_out":null,"guests":1,"guest_details":{"number_of_adults":1,"number_of_children":0,"number_of_infants":0},"long_term_discount_amount_as_guest":0,"monthly_price_factor":null,"price":null,"rate":{"amount":69,"amount_micros":null,"amount_formatted":"$69","is_micros_accuracy":false,"currency":"USD"},"rate_type":"nightly","rate_with_service_fee":{"amount":69,"amount_micros":null,"amount_formatted":"$69","is_micros_accuracy":false,"currency":"USD"},"weekly_price_factor":null},"viewed_at":null},{"listing":{"bathrooms":1.0,"bedrooms":1,"beds":2,"city":"Denver","distance":null,"extra_host_languages":["es"],"id":18822004,"instant_bookable":true,"is_business_travel_ready":false,"is_family_preferred":false,"is_new_listing":false,"lat":39.68274451389694,"lng":-104.98412672385055,"localized_city":"Denver","name":"South
        Platt Park","neighborhood":"Platt Park","person_capacity":3,"picture_count":39,"picture_url":"https://a0.muscache.com/im/pictures/a71fd5e2-726f-4e78-809a-8432ecf8[...]
